:root
{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #009783;
    --secundario :#440144;
    --gris: rgba(0, 18, 108, 0.4);
    --grisClaro: #DFE9F3;
}
html{
    font-size :62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;  
    font-family: 'Krub',sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
    margin: 0;
    background-image: url("../Imagenes/back-neon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text-logo{
    margin-left: 5px;
    font-size: 2rem;
    text-align: center;
    color: var(--blanco);
    font-weight: bold;
    cursor: pointer;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
    color:var(--blanco);
}

h1,h2,h3{
    text-align: center;
}

.titulo span{
    font-size: 2rem;
    
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.cont-logo{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}

.boton:hover{
    cursor: pointer;
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.w-sm-100{
    width: 100%;
}

@media (min-width: 768px){
    .w-sm-100{
    width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

.navbar-brand {
  font-size: 1.75rem; /* Ajusta este valor (ej. 2rem, 24px) como gustes */
  font-weight: bold;  /* Opcional: para hacerlo más grueso */
}

.navbar-brand img {
  height: 50px; /* Ajusta la altura como necesites */
  width: auto;  /* Esto mantiene la proporción de la imagen */
}

.nav-bg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-bg .cont-logo{
    display: flex;
    align-items: center;
}

.navegacion_principal{   
    display: flex;
    flex-direction: column;       
}

.cont-logo{   
    display: flex;
}

@media (min-width:768px){
    .nav-bg {
        flex-direction: row; /* <-- El logo y el menú vuelven a estar en fila */
        justify-content: space-between; /* <-- Esto los separa a los extremos */
        margin-bottom: 0rem;
    }

    .nav-bg .navegacion_principal,
    .nav-bg .cont-logo{
        flex-direction: row;
    }
}

.navegacion_principal a{
     display: block;
     text-align: center;
     color:var(--blanco);
     text-decoration: none;
     font-size: 2rem;
     font-weight: bold;
     padding: 1rem ;
}

.cont-logo{
    display: flex;          /* Para alinear imagen y texto en una línea */
    align-items: center;    /* Para centrarlos verticalmente */
    gap: 1rem;            /* <-- ¡Esta es la línea clave! Añade espacio entre ellos */
    height: 7rem;
    
    /* Tus otros estilos como color, text-decoration, etc. */
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion_principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);

}

.hero{
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    height: 50rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(0,0,0,.7);
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-hero h2,
.contenido-hero p{
    color:var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    flex-direction: column; /* Apila la imagen y el texto verticalmente */
    align-items: center;    /* Centra ambos elementos horizontalmente */
    text-align: center;     /* Centra el texto dentro de su propio div */
    padding-top: 7rem;
}

.contenido-hero .ubicacion .img-neonOswi{
    object-fit: cover;
    
    height: 30rem;
}

.descripciones-Header{
    height: 30%;
    padding: 2rem;
}

@media (min-width: 768px) {
    .hero{
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        position: relative;
        margin-bottom: 2rem;
    }

    .contenido-hero{
        position: absolute;
        background-color: rgba(0,0,0,.7);
        background-color: rgb(0 0 0 / 70%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenido-hero .ubicacion {
        flex-direction: row;      /* Pone la imagen y el texto uno al lado del otro */
        justify-content: center;  /* Centra el grupo horizontalmente */
        align-items: center;      /* Alinea verticalmente la imagen y el texto */
        gap: 3rem;                /* Agrega un espacio entre la imagen y el texto */
        width: auto;              /* Elimina el ancho fijo para un mejor centrado */
    }

    .descripciones-Header{
        height: 100%;
        padding: 2rem;
    }
}

.servicios,
.navegacion_principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/**CONATACTO**/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px){
    .formulario{
        background-color: var(--gris);
        width: min(60rem, 100%);
        margin: 0 auto;
        padding: 2rem;
        border-radius: 1rem;
    }

    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea{
    height: 20rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.footer{
    text-align: center;
}

.logo {
    height: 6rem;
    cursor: pointer;
    margin-right: .2rem; /* <-- Añade esta línea para empujar el texto */
}

.nfts{
    display: flex;
    width: 100%;
    height: 50rem;
    justify-content: space-between;
    flex-direction: column;
}


.nft{
    display: flex;
    width: 100%;
    height: 30%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #1a1a2e;
    color: white;
    position: relative;
    border: 1px solid #333;
}

.nft-img{
    object-fit: cover;
    width:14rem;
    height:100%;
    display: block;
}

.button-info-nfts-container{
    position: absolute;
    bottom: 1.25rem;
    left: 15.25rem;
    right: 1.25rem;
    display: flex;
    gap: 0.625rem;
    z-index:2;

    opacity:0;
    pointer-events: none;
    transform: translateY(0.625rem); /*Mover abajo*/
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.btn{
    background-color: rgba(255,255,255,0.1);
    border: 1px solid white;
    color: white;
    padding: 0.625rem 1rem;
    border-radius: 1.25rem;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

    /**/
.nft::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.8) 70%);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; 

    z-index: 1;
}

@media (min-width: 768px) {
    .nfts {
        flex-direction: row;
        justify-content: space-between;
    }

    .nft{
        display: flex;
        width: 32%;
        background-color: #1a1a2e;
        height: 45rem;
        border-radius: 1rem;
        overflow: hidden;
        flex-direction: column;
        color: white;
        position: relative;
        border: 1px solid #333;
    }

    .nft-img{
        object-fit: cover;
        width:100%;
        height:20rem;
        display: block;
        align-self: center;
    }

    .button-info-nfts-container{
        position: absolute;
        bottom: 1.25rem;
        left: 1.25rem;
        right: 1.25rem;
        display: flex;
        gap: 0.625rem;
        z-index:2;

        opacity:0;
        pointer-events: none;
        transform: translateY(0.625rem); /*Mover abajo*/
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .btn{
        background-color: rgba(255,255,255,0.1);
        border: 1px solid white;
        color: white;
        padding: 0.625rem 1rem;
        border-radius: 1.25rem;
        text-decoration: none;
        text-align: center;
        flex-grow: 1;
    }

    /**/
    .nft::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 70%);
    opacity: 0; 
    transition: opacity 0.3s ease; 
    pointer-events: none; 

    z-index: 1;
}
}

.nft:hover::after {
    opacity: 1; 
}

.nft:hover .button-info-nfts-container {
    opacity: 1; 
    pointer-events: auto; 
    transform: translateY(0); 
}

.btn:hover{
    color: black;
    background-color: white;;
}

/*
  Estilos para el contenedor de texto en MÓVIL
*/
.nft-info {
    flex: 1; /* Hace que ocupe el espacio sobrante al lado de la imagen */
    padding: 0 1rem; /* Le da un poco de espacio para que no se pegue */
    overflow-y: auto; /* ¡Esta es la magia! Añade scroll vertical SI es necesario */
    
    /* Estilos opcionales para una barra de scroll más delgada */
    scrollbar-width: thin;
    scrollbar-color: var(--primario) #1a1a2e;
}

/* Estilos para la barra de scroll en Chrome/Safari */
.nft-info::-webkit-scrollbar {
    width: 5px;
}
.nft-info::-webkit-scrollbar-track {
    background: transparent; 
}
.nft-info::-webkit-scrollbar-thumb {
    background-color: var(--primario);
    border-radius: 6px;
}

/*
  Ajustes para el texto en DESKTOP
  (Cuando la imagen está arriba)
*/
@media (min-width: 768px) {
    .nft-info {
        padding: 1rem; /* Le damos padding en todas las direcciones */
        overflow-y: hidden; /* Ya no necesitamos el scroll aquí */
    }
}

.carro{
    margin-top: 1rem;
    margin-left: 2rem;
}